<p class="site-intro"> 
<ul>
    <li>
          <a href="https://youtu.be/B4evmjoU8sY?si=JJzr1d3LSgFZpPjq">대담: AI 기술의 발전과 게이밍 환경의 변화'</a> 
          - YouTube 영상, 김성회의 G식백과<br />
          지-스타(G-Star) 2024 기간 동안 있었던 Google for Games 행사에서 '김성회'님과 진행한 대담 시간을
          G식백과 채널에서 편집하여 공개한 영상입니다.<br />
          원래 해당 행사의 해당 세션의 제목이 '대담: AI 기술 발전과 게이밍 환경의 변화'입니다. 
          편집이 유려해서 현장에서 힘주어 이야기 했던 부분이
          저런 것이었는지? 저도 햇갈릴 정도입니다 :-P <br />
          해당 영상의 제목에 기입되어 있는 '개발자'는 저와 상관없는 수식입니다. 조회수 유도용으로 이해하고 있습니다. 
          저의 소속과 역할은 영상 속 저의 멘트와 영상의 아랫부분의 '정정' 고정댓글로 분명히 하고 있습니다. 
          <span class="material-icons">smart_display</span>
    </li>
    <li>
        <a href="https://www.linkedin.com/pulse/%EC%8B%B8%EA%B3%A0-%EC%A2%8B%EC%9D%80-%EA%B1%B4-%EC%97%86%EA%B3%A0-%EB%B9%84%EC%8B%B8%EA%B3%A0-%EB%82%98%EC%81%9C-%EC%9E%88%EB%8B%A4-kwanghoon-jhin-fd85c/?trackingId=MZsAygz1Q2O334n0g9lt4A%3D%3D">
            싸고 좋은 건 없고, 비싸고 나쁜 건 있다.</a> (LinkedIn article)
           <span class="material-icons">article</span>
    </li>
    <li>
        <a href="https://www.linkedin.com/pulse/%EB%B2%A8%EB%A5%98-%EC%85%80%EB%A7%81-value-selling-kwanghoon-jhin-kh3ec/?trackingId=DWXyh8v%2FzBwhCv81Jl2R1g%3D%3D">
            벨류 셀링 Value Selling</a> (LinkedIn article)
            <span class="material-icons">article</span>
    </li>
    <li>
        <a href="https://www.linkedin.com/pulse/%EC%9D%B8%EC%82%AC%EB%A7%90-google-cloud-quarterly-newsletter-q3-2024-kwanghoon-jhin-lknoc/?trackingId=5XhZ8TvIaU4okYYEL8X1kw%3D%3D">
            인사말 - Google Cloud Quarterly Newsletter | Q3 2024</a> (LinkedIn article)
            <span class="material-icons">article</span>
        </a>
    </li>
</ul>
</p>

<p>
    <img src="/media/common/electronicnomad-title.jpeg" /><br />
    <em><small>Gaming on Google Cloud (2024년 4월) 발표를 위한 리허설 시작 전</small></em>
</p>

<p>
    <blockquote class="twitter-tweet"><p lang="ko" dir="ltr">회사에서는 일 잘 하는 사람이 좋다. 저녁 시간에 만나면 재밌는 말 하는 사람이 좋다. 가수는 노래를 잘 불러야 하고, 배우는 연기를 잘 해야 하고, 최고 책임자는 그 명함에 알맞는 행동을 해야 한다. 아이는 아이 답고, 어른은 어른 답고, 게임은 현실에서 경험하지 못 할 것을 선물해 줘야 한다.</p>&mdash; Kay J. (@electronicnomad) <a href="https://twitter.com/electronicnomad/status/1784573004988776478?ref_src=twsrc%5Etfw">April 28, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</p>
