<p class="site-nav">
<u><a href="https://electronicnomad.net/plumbers-friday/">배관공들의 금요일</a></u> |
    <a href="http://www.jhin.com/">서울사는 陳氏의 하루</a> |
    <a href="https://twitter.com/electronicnomad">X</a> |
    <a href="https://www.linkedin.com/in/kwanghoon-jhin/recent-activity/articles/">일하면서 알게된 것들</a> |
    <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">집구석 설명</a> |
    <a href="{{ '/tagged' | prepend: site.baseurl | prepend: site.url }}">태그</a> |
    <a href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">RSS</a>
</p>
